# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/docker-compose.yml
/public/uploads/pdf/1757468660360-paiement-68b86dc0e93c440e6d05cebc.pdf
/public/uploads/pdf/1757499061371-FF94YB_GBEDOUROROU_BIOAZIZ_MR.pdf
/public/uploads/pdf/1757499100386-FF94YB_GBEDOUROROU_BIOAZIZ_MR.pdf
/public/uploads/pdf/1757500290784-discours.pdf
/public/uploads/pdf/1757500344539-paiement-68b86dc0e93c440e6d05cebc.pdf
/public/uploads/pdf/1757517160917-23148_GBEDOUROROU_thesis_1_.pdf
/public/uploads/pdf/1757545163177-qrcode_2_.pdf
/public/uploads/pdf/1757600439530-discours_1_.pdf
/public/uploads/mp3/elevator-ding-at-arenco-tower-dubai-38520-1757542535898.mp3
/public/uploads/mp3/elevator-ding-at-arenco-tower-dubai-38520-1757544897788.mp3
/public/uploads/image/photo_2025-08-24_19-17-25-1757544838658.jpg
/public/uploads/image/qrcode__3_-1757522606721.png
/public/uploads/video/WhatsApp_Video_2024-08-14_at_11.45.49_PM-1757564121110.mp4
